<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title><%= title %></title>
</head>

<body>
    <header class="text-center">
        <h1>Happy Restaurant</h1>
    </header>

    <img src="./img/name.jpg" class="rounded float-end img-fluid" alt="Restoran Happy Restaurant" width="50%" height="80%">

    <p>Selamat datang di Happy Restaurant!</p>
    <p>Di Happy Restaurant, kami percaya bahwa seafood segar adalah pengalaman kuliner yang tak terlupakan. Terletak di
        Jalan Rambutan, kami menyajikan berbagai hidangan kuliner yang terinspirasi dari resep tradisional dan sentuhan
        modern.</p>

    <p>Suasana yang Nyaman: Dihiasi dengan nuansa hangat dan ramah, restoran kami adalah tempat yang sempurna untuk
        berkumpul bersama keluarga dan teman. Kami juga menyediakan ruang untuk acara spesial, baik itu perayaan ulang
        tahun, pertemuan bisnis, atau acara lainnya.</p>

    <p>Di Happy Restaurant, kami sangat menghargai setiap pelanggan. Umpan balik Anda membantu kami terus berinovasi dan
        memberikan pelayanan terbaik. Jangan ragu untuk berbagi pengalaman Anda dengan kami!</p>

    <p>Kami mengundang Anda untuk merasakan pengalaman bersantap yang luar biasa di Happy Restaurant. Datanglah dan
        nikmati cita rasa seafood yang tiada duanya!</p>

    
</body>

</html>
