<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title><%= title %></title>
   
</head>
<body>
    <h1>Happy Restaurant</h1>
    <img src="./img/name.jpg" class="rounded float-end" alt="" width="50%" height="50%">
    <p>Selamat datang di Happy Restaurant!

        Di Happy Restaurant, kami percaya bahwa seafood segar adalah pengalaman kuliner yang tak terlupakan. Terletak di Jalan Buntu, kami menyajikan berbagai hidangan seafood yang terinspirasi dari resep tradisional dan sentuhan modern.
        
        <p>Visi Kami: Kami berkomitmen untuk menyajikan makanan berkualitas tinggi dengan bahan-bahan segar dan lokal. Dengan paduan rasa yang otentik dan teknik memasak yang tepat, kami ingin membawa pelanggan kami dalam perjalanan kuliner yang unik setiap kali mereka mengunjungi kami.</p>
        
        <p>Menu Kami: Menu kami mencakup berbagai pilihan hidangan seafood, mulai dari kepiting, udang, ikan bakar, hingga makanan laut olahan yang lezat. Kami juga menawarkan pilihan vegetarian dan makanan penutup yang menggoda, memastikan bahwa setiap tamu dapat menemukan sesuatu yang mereka sukai.
        </p>
        Kualitas dan Kesegaran: Kami bekerja sama dengan nelayan lokal untuk memastikan bahwa setiap bahan yang kami gunakan adalah yang terbaik dan ter freshest. Setiap hidangan disiapkan dengan cinta dan perhatian terhadap detail, menjadikan pengalaman bersantap di [Nama Restoran] selalu istimewa.
        
        Suasana yang Nyaman: Dihiasi dengan nuansa hangat dan ramah, restoran kami adalah tempat yang sempurna untuk berkumpul bersama keluarga dan teman. Kami juga menyediakan ruang untuk acara spesial, baik itu perayaan ulang tahun, pertemuan bisnis, atau acara lainnya.
        
        Kami Menghargai Pelanggan Kami: Di [Nama Restoran], kami sangat menghargai setiap pelanggan. Umpan balik Anda membantu kami terus berinovasi dan memberikan pelayanan terbaik. Jangan ragu untuk berbagi pengalaman Anda dengan kami!
        
        Kunjungi Kami: Kami mengundang Anda untuk merasakan pengalaman bersantap yang luar biasa di [Nama Restoran]. Datanglah dan nikmati cita rasa seafood yang tiada duanya!</p>
    

</body>
</html>