<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Menu Happy Restaurant</title>
</head>
<body>
    <header>
        <h1>Menu Happy Restaurant</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#appetizers">Pembuka</a></li>
            <li><a href="#main-courses">Hidangan Utama</a></li>
            <li><a href="#desserts">Pencuci Mulut</a></li>
            <li><a href="#drinks">Minuman</a></li>
        </ul>
    </nav>
    <main>
        <section id="appetizers">
            <h2>Pembuka</h2>
            <ul>
                <img src="./img/bruschetta.jpeg" class="rounded float-end" alt="" width="50%" height="50%">
                <li>Bruschetta - IDR 30.000</li>
                <img src="./img/srolls.jpeg" class="rounded float-end" alt="" width="50%" height="50%">
                <li>Spring Rolls - IDR 25.000</li>
            </ul>
        </section>
        <section id="main-courses">
            <h2>Hidangan Utama</h2>
            <ul>
                <img src="./img/rendang.jpg" class="rounded float-end" alt="" width="50%" height="50%">
                <li>Rendang Daging - IDR 80.000</li>
                <img src="./img/taliwanh.jpg" class="rounded float-end" alt="" width="50%" height="50%">
                <li>Ayam Bakar Taliwang - IDR 70.000</li>
            </ul>
        </section>
        <section id="desserts">
            <h2>Pencuci Mulut</h2>
            <ul>
                <img src="./img/klepon.jpg" class="rounded float-end" alt="" width="50%" height="50%">
                <li>Klepon - IDR 20.000</li>
                <img src="./img/escampur.jpg" class="rounded float-end" alt="" width="50%" height="50%">
                <li>Es Campur - IDR 15.000</li>
            </ul>
        </section>
        <section id="drinks">
            <h2>Minuman</h2>
            <ul>
                <li>Jus Jeruk - IDR 15.000</li>
                <li>Teh Tarik - IDR 10.000</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>© 2024 Restoran Kuliner. Semua hak dilindungi.</p>
    </footer>
</body>
</html>
