<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Menu Restoran Kuliner</title>
</head>
<body>
    <header>
        <h1>Menu Restoran Kuliner</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#appetizers">Pembuka</a></li>
            <li><a href="#main-courses">Hidangan Utama</a></li>
            <li><a href="#desserts">Pencuci Mulut</a></li>
            <li><a href="#drinks">Minuman</a></li>
        </ul>
    </nav>
    <main>
        <section id="appetizers">
            <h2>Pembuka</h2>
            <ul>
                <li>
                    <h1>Bruschetta - IDR 30.000</h1>
                    <img src="images/bruschetta.jpg" alt="Bruschetta" />
                </li>
                <li>
                    <h1>Spring Rolls - IDR 25.000</h1> 
                    <img src="images/spring-rolls.jpg" alt="Spring Rolls" />
                </li>
            </ul>
        </section>
        <section id="main-courses">
            <h2>Hidangan Utama</h2>
            <ul>
                <li>
                    <h1>Rendang - IDR 80.000</h1>Rendang Daging - IDR 80.000
                    <img src="images/rendang.jpg" alt="Rendang Daging" />
                </li>
                <li>
                    <h1>Ayam Bakar - IDR 70.000</h1>
                    <img src="images/ayam-bakar.jpg" alt="Ayam Bakar Taliwang" />
                </li>
            </ul>
        </section>
        <section id="desserts">
            <h2>Pencuci Mulut</h2>
            <ul>
                <li>
                    <h1>Klepon - IDR 20.000</h1> 
                    <img src="images/klepon.jpg" alt="Klepon" />
                </li>
                <li>
                    <h1>Es Campur - IDR 15.000</h1> 
                    <img src="images/es-campur.jpg" alt="Es Campur" />
                </li>
            </ul>
        </section>
        <section id="drinks">
            <h2>Minuman</h2>
            <ul>
                <li>
                    <h1>Jeruk - IDR 15.000</h1>
                    <img src="images/jus-jeruk.jpg" alt="Jus Jeruk" />
                </li>
                <li>
                    <h1>Tarik - IDR 10.000</h1> 
                    <img src="images/teh-tarik.jpg" alt="Teh Tarik" />
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <p>© 2024 Restoran Kuliner. Semua hak dilindungi.</p>
    </footer>
</body>
</html>
